# Informational files
include README.rst
include LICENSE

# Include docs and tests. It's unclear whether convention dictates
# including built docs. However, Sphinx doesn't include built docs, so
# we are following their lead.
graft docs
#prune docs/build
graft tests
graft usamriidPathDiscov/download
graft usamriidPathDiscov/files
graft usamriidPathDiscov/host_map
#graft usamriidPathDiscov/include
graft usamriidPathDiscov/iterative_blast_phylo
graft usamriidPathDiscov/junk
#graft usamriidPathDiscov/lib
graft usamriidPathDiscov/nohost_blast
graft usamriidPathDiscov/orf_filter
graft usamriidPathDiscov/quality_filter
graft usamriidPathDiscov/ray2_assembly
graft usamriidPathDiscov/scripts
graft usamriidPathDiscov/step1
graft usamriidPathDiscov/sge_iterative_blast_phylo
#graft usamriidPathDiscov/bin
graft testData
#graft .autoenv
#include .env
include usamriidPathDiscov/*.pl

# Exclude any compile Python files (most likely grafted by tests/ directory).
global-exclude *.pyc

# Setup-related things
include pavement.py
include requirements-dev.txt
include requirements.txt
include setup.py
include tox.ini
include paver-minilib.zip
include bootstrap.py
#include config.yaml
include config.yaml.base


